@import '../../styles/main';

.hero {
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

.heroTitle {
    color: white;
    position: absolute;
    bottom: 20px;
}
