@import '../../styles/main';

.hero {
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

.heroMeta {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    color: white;
    font-size: 2rem;

    &Title {
        background-color: $accent;
        padding: 20px;
    }
}