body {
    font-family: $body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $brand;
}

h1 {
    font-weight: $light;

    @include for-tablet-landscape-up {
        line-height: 1.2;
        font-size: 60px;
        margin-bottom: 10px;
    }
}

h2, h3 {
    font-weight: $bold;
    color: $secondary;
}

h4 {
    font-weight: $bold;
    color: $secondary;
}

p {
    margin: 0 0 1rem;
}
