@import "../../../styles/main";

.card {
    $root: &;
    display: flex;
    border: 1px solid #e2e1e1;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.cardImageContainer {
    background: $tertiary;
    width: 180px;
    height: 180px;
}

.cardImage {
    width: 180px;
    height: 180px;
    transition: opacity $quick-transition;

    &:hover {
        opacity: 0.3;
    }
}

.cardContent {
    width: 100%;
    padding: 20px;
}

.cardTitle {
    margin: 0 0 1rem;
    font-weight: 200;
}

.cardMeta {
    display: flex;
    flex-direction: column;
}

.cardMetaRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cardMetaLabel {
    font-size: 1.2rem;
    color: #777;
    font-weight: bold;
}

