@import '../../styles/main';

.cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@include for-tablet-landscape-up {
    .cardContainer {
        grid-template-columns: 1fr 1fr;
    }
}