@import '../../styles/main';

.locations {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

@media screen and (min-width: 800px) {
    .locations {
        grid-template-columns: 1fr 1fr;
    }
}

.locationImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.locationImageContainer:hover {
    background-color: $accent;
}

.locationImageContainer:hover .locationImage {
    opacity: 0.3;
}

.locationImage {
    width: 100%;
    height: auto;
    max-height: 270px;
    object-fit: cover;
    object-position: bottom;
    transition: opacity 0.2s ease;
}

.locationHeader {
    position: absolute;
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 20px;
    background: $accent;
}

.locationMeta {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
}

.locationAddress {
    font-weight: $light;
    font-family: $brand;
    font-size: 1.4em;
    padding: 10px 40px;
    text-align: center;
    margin: 10px 0 20px;
}

.locationButton {
    background-color: $accent;
    color: white;
    display: block;
    font-weight: $light;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $brand;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 40px;

    &:hover {
        background-color: $tertiary;
        color: white;

    }
}
