*:focus {
    outline: none;
}

body {
    padding-bottom: 40px;
    @include for-tablet-landscape-up {
        padding-bottom: 0px;
    }
}

.container {
    max-width: $site-width;
    margin: 0 auto;
}
