h1, h2, h3, h4, h5, h6 {
    font-family: $brand;
}

h1 {
    font-weight: $light;

    @include for-tablet-landscape-up {
        font-size: 60px;
    }
}

h2, h3 {
    font-weight: $bold;
}

h4 {
    font-weight: $semi-bold;
}

p {
    margin: 0 0 1rem;
}
