$fa-font-path:   "../font";

// Colors:
$primary: rgb(25,17,18);
$secondary: #63210d;
$tertiary: #eb7400;
$accent: #d4566b;
$mid-grey: #777;

// Text:
$body: 'Alegreya', serif;
$brand: 'Lato', monospace;

// Margins:

// Widths:
$site-width: 1440px;

// Weights:
$book: 900;
$bold: 700;
$semi-bold: 600;
$light: 300;

// Transitions:
$transition: 0.25s ease;
