.hero {
    position: relative;
    margin-bottom: 2rem;
}

.heroImage {
    max-width: 100%;
    height: auto;
}

.heroMeta {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    color: white;
    font-size: 2rem;
}

.heroMeta * {
    margin: 0;
}

.introContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.introContainer p {
    margin: 0;
}
