@import "../../styles/main";

.info {

  &Container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    margin-bottom: 40px;
  }

  &Header {
    padding-bottom: 1rem;
    text-decoration: underline;
  }

  &Content {
    grid-column: span 2;
    @include for-tablet-landscape-up {
      grid-column: 1;
    }
  }

  &OpeningHours {
    min-width: 280px;
    grid-column: span 2;
    @include for-tablet-landscape-up {
      grid-column: 2;
    }

    &Header {
      padding-bottom: 1.5rem;
      text-decoration: underline;
    }
  }

}

.location {

  &Container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    @include for-desktop-up {
      grid-template-columns: 400px 1fr;
    }

    width: 100%;
    min-height: 400px;
    background-color: $accent;
  }

  &Address {
    grid-column: span 2;
    @include for-tablet-landscape-up {
      grid-column: 1;
    }

    padding: 40px;
    h3 {
      color: white;
    }
  }

  &Map {
    grid-column: span 2;
    @include for-tablet-landscape-up {
      grid-column: 2;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
  }

}

.time {
  display: flex;
  justify-content: space-between;
}